<nav *ngIf="!loading">
  <img class="logo" src="https://img.icons8.com/nolan/2x/discord-logo.png" alt="" />
</nav>

<div *ngIf="!loading; else spinner" class="container">
  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login">
      <header>
        <h1>Vous êtes de retour !</h1>
        <p>Nous sommes vraiment content de vous retrouver !</p>
      </header>

      <div [ngClass]="{ error: getMail?.invalid && (getMail?.touched || getMail?.dirty) }" class="form__group form__group--email">
        <label for="email">Email <span class="error__message"> - Email invalide</span></label>
        <input class="form-control" required formControlName="email" type="text" id="email" />
      </div>

      <div [ngClass]="{ error: getPwd?.invalid && (getPwd?.touched || getPwd?.dirty) }" class="form__group form__group--password">
        <label for="pwd">Mot de passe <span class="error__message"> - Mot de passe invalide</span></label>
        <input class="form-control" required formControlName="pwd" type="password" id="pwd" />
      </div>

      <div class="form__group">
        <input [disabled]="getMail?.invalid || getPwd?.invalid" class="btn" id="btnLogin" type="submit" value="Se connecter" />
      </div>
    </form>
  </div>
</div>

<ng-template #spinner>
  <div class="loading text-center">
    <img src="https://media1.tenor.com/images/83cdd1dd40cdb87020949e0f075b9648/tenor.gif?itemid=11230336" />
  </div>
</ng-template>
