
<div class="flex text-white h-12">
    <!-- NAVBAR CHANNEL -->
    <div class="flex-1 bg-gray-800 flex items-center justify-between border-b border-gray-900 px-4">

        <!-- PRINT CURRENT CHANNEL -->
        <div class="flex items-center">
            <div class="text-gray-500 text-2xl">#</div>
            <div class="ml-2 text-sm text-white">Create Forum</div>
        </div>

        <!-- TOOLS -->
        <div class="flex items-center">
            <form action="#" class="relative">
            <input type="text" placeholder="Search" class="rounded bg-gray-900 text-gray-200 text-xs px-2 py-1">
            <span class="absolute right-0 top-0 mr-1" style="top:6px">
                <svg class="w-4 h-4 text-gray-500 hover:text-gray-200" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path></svg>
            </span>
        </form>
        </div>
    </div>
</div>

<div class="flex-1 flex justify-between overflow-y-hidden pr-8">

    <!--LIST MESSAGE ITEM AND SENDEUR -->
    <div class="bg-gray-700 flex-1 flex flex-col justify-between ">

        <!--LIST MESSAGE ITEM -->
        <div class="chat flex flex-row flex-wrap text-sm text-dark-400 overflow-y-auto">
            <app-forumsearchitem  *ngFor="let forum of forumsView.forumSearch" [item]="forum" class="flex mx-6 my-3 py-4 border-t border-gray-600 ng-star-inserted"></app-forumsearchitem>
        </div>

        <!--SENDEUR TOOLBAR MESSAGE -->
        <div class="bg-gray-800 py-4 flex items-center">
            <mat-paginator class=""
                [length]="forumsView.totalItem"
                [pageSize]="forumsView.nbItemPerPage"
                [pageIndex]="forumsView.currentPage"
                [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChange($event)">

            </mat-paginator>
        </div>

    </div>


</div>



