<nav *ngIf="!loading">
  <img class="logo" src="https://img.icons8.com/nolan/2x/discord-logo.png" alt="" />
</nav>

<div *ngIf="!loading; else spinner" class="container">
  <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <div class="form__group form__group--firstName">
          <label for="firstName">Prénom </label>
          <input class="form-control" required formControlName="firstName" type="text" id="firstName" />
        </div>
        <div class="form__group form__group--LastName">
          <label for="LastName">Nom </label>
          <input class="form-control" required formControlName="LastName" type="text" id="LastName" />
        </div>
        <div class="form__group form__group--email">
          <label for="email">Email </label>
          <input class="form-control" required formControlName="email" type="text" id="email" />
        </div>
      </div>
      <div class="col-sm">
        <div class="form__group form__group--password">
          <label for="password">Mot de passe </label>
          <input class="form-control" required formControlName="password" type="text" id="password" />
        </div>
        <div class="form__group form__group--pseudo">
          <label for="pseudo">Pseudo </label>
          <input class="form-control" required formControlName="pseudo" type="text" id="pseudo" />
        </div>
        <div class="form__group form__group--image">
          <label for="image">Avatar </label>
          <input class="form-control" required formControlName="image" type="text" id="image" />
        </div>
      </div>
    </div>
    <div class="form__group">
      <input class="btn" id="btnLogin" type="submit" value="S'inscrire" />
      <!-- [disabled]="getMail?.invalid || getPwd?.invalid" -->
    </div>
  </form>
</div>

<ng-template #spinner>
  <div class="loading text-center">
    <img src="https://media1.tenor.com/images/83cdd1dd40cdb87020949e0f075b9648/tenor.gif?itemid=11230336" />
  </div>
</ng-template>
